In [1]:
import pandas as pd
import sklearn

In [6]:
df = pd.read_excel('./End Sem//Shopping Trends - Q2/shopping_trends.xlsx')
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [7]:
df.drop(['Customer ID'], axis=1, inplace=True)
df.head()

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [11]:
df['Shipping Type'].value_counts()

Shipping Type
Free Shipping     675
Standard          654
Store Pickup      650
Next Day Air      648
Express           646
2-Day Shipping    627
Name: count, dtype: int64

In [ ]:
df['Gender'] = [1 if x == 'Male' else 0 for x in df['Gender']]
df['Size'] = [0 if x == 'S' else 1 if x == 'M' else 2 if x == 'L' else 3 for x in df['Size']]
df['Season'] = [0 if x == 'Spring' else 1 if x == 'Fall' else 2 if x == 'Winter' else 3 for x in df['Season']]
df['Subscription Status'] = [0 if x == 'No' else 1 for x in df['Subscription Status']]
df['Discount Applied'] = [0 if x == 'No' else 1 for x in df['Discount Applied']]
df['Promo Code Used'] = [0 if x == 'No' else 1 for x in df['Promo Code Used']]
df['Shipping Type'] = [0 if x == 'Free Shipping' else 1 if x == 'Standard' else 2 if x == 'Store Pickup' else 3 if x == 'Next Day Air' else 4 if x == 'Express' else 5 for x in df['Season']]