In [ ]:
import pandas as pd
import sklearn
from sklearn import datasets
import seaborn as sns
import matplotlib.pyplot as plt

:

In [2]:
dir(datasets)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__getattr__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_arff_parser',
 '_base',
 '_california_housing',
 '_covtype',
 '_kddcup99',
 '_lfw',
 '_olivetti_faces',
 '_openml',
 '_rcv1',
 '_samples_generator',
 '_species_distributions',
 '_svmlight_format_fast',
 '_svmlight_format_io',
 '_twenty_newsgroups',
 'clear_data_home',
 'dump_svmlight_file',
 'fetch_20newsgroups',
 'fetch_20newsgroups_vectorized',
 'fetch_california_housing',
 'fetch_covtype',
 'fetch_kddcup99',
 'fetch_lfw_pairs',
 'fetch_lfw_people',
 'fetch_olivetti_faces',
 'fetch_openml',
 'fetch_rcv1',
 'fetch_species_distributions',
 'get_data_home',
 'load_breast_cancer',
 'load_diabetes',
 'load_digits',
 'load_files',
 'load_iris',
 'load_linnerud',
 'load_sample_image',
 'load_sample_images',
 'load_svmlight_file',
 'load_svmlight_files',
 'load_wine',
 'make_biclusters',
 'make_blobs',
 'make_checkerboard',
 'make_circles',
 'make_classification',
 'make_friedman1',
 'make_friedman2',
 'make_friedman3',
 'make_gaussian_quantiles',
 'make_hastie_10_2',
 'make_low_rank_matrix',
 'make_moons',
 'make_multilabel_classification',
 'make_regression',
 'make_s_curve',
 'make_sparse_coded_signal',
 'make_sparse_spd_matrix',
 'make_sparse_uncorrelated',
 'make_spd_matrix',
 'make_swiss_roll',
 'textwrap']

In [3]:
data_dict = datasets.load_diabetes(as_frame=True)
df = data_dict['data']

In [6]:
patients = [
    "Aarav", "Aadhya", "Aadi", "Aadya", "Aahan", "Aaliyah", "Aaradhya", "Aarna", "Aarush", "Aarya",
    "Aashvi", "Aayush", "Abhinav", "Abhishek", "Aditi", "Advait", "Advika", "Agrim", "Ahana", "Aishani",
    "Aishwarya", "Akanksha", "Akash", "Akshay", "Alok", "Amaira", "Amaya", "Amisha", "Amit", "Amrita",
    "Anaya", "Anika", "Aniket", "Anisha", "Ansh", "Anshika", "Anvi", "Anya", "Aradhya", "Arjun", "Arnav",
    "Arohi", "Arush", "Arya", "Asher", "Ashika", "Ashish", "Atharva", "Avani", "Avika", "Avni", "Avya",
    "Ayush", "Bhavya", "Bhoomi", "Chahat", "Charvi", "Daksh", "Darsh", "Dev", "Dhruv", "Divya", "Eesha",
    "Eshan", "Eshika", "Gauri", "Gaurav", "Gayatri", "Hridya", "Ira", "Ishan", "Ishani", "Ishika", "Jiya",
    "Kavya", "Khushi", "Kiara", "Krish", "Kriti", "Lakshya", "Maanvi", "Madhav", "Mahek", "Manav", "Mannat",
    "Mehak", "Mira", "Mohit", "Muskaan", "Myra", "Navya", "Neev", "Neel", "Niharika", "Nishka", "Ojas",
    "Oviya", "Parth", "Prisha", "Pritika", "Piyush", "Rachit", "Radhika", "Rahul", "Raina", "Rhea", "Reyansh",
    "Riya", "Rudra", "Saanvi", "Sahil", "Samaira", "Samay", "Sanchi", "Sania", "Sanvi", "Saumya", "Shanaya",
    "Shlok", "Shreya", "Siya", "Smriti", "Sneha", "Suhani", "Swara", "Tanya", "Tanvi", "Tarun", "Trisha",
    "Utkarsh", "Vaishnavi", "Vansh", "Ved", "Vivaan", "Yash", "Yuvan", "Zara", "Zoya", "Aarav", "Aadhya", 
    "Aadi", "Aadya", "Aahan", "Aaliyah", "Aaradhya", "Aarna", "Aarush", "Aarya", "Aashvi", "Aayush", 
    "Abhinav", "Abhishek", "Aditi", "Advait", "Advika", "Agrim", "Ahana", "Aishani",
    "Aishwarya", "Akanksha", "Akash", "Akshay", "Alok", "Amaira", "Amaya", "Amisha", "Amit", "Amrita",
    "Anaya", "Anika", "Aniket", "Anisha", "Ansh", "Anshika", "Anvi", "Anya", "Aradhya", "Arjun", "Arnav",
    "Arohi", "Arush", "Arya", "Asher", "Ashika", "Ashish", "Atharva", "Avani", "Avika", "Avni", "Avya",
    "Ayush", "Bhavya", "Bhoomi", "Chahat", "Charvi", "Daksh", "Darsh", "Dev", "Dhruv", "Divya", "Eesha",
    "Eshan", "Eshika", "Gauri", "Gaurav", "Gayatri", "Hridya", "Ira", "Ishan", "Ishani", "Ishika", "Jiya",
    "Kavya", "Khushi", "Kiara", "Krish", "Kriti", "Lakshya", "Maanvi", "Madhav", "Mahek", "Manav", "Mannat",
    "Mehak", "Mira", "Mohit", "Muskaan", "Myra", "Navya", "Neev", "Neel", "Niharika", "Nishka", "Ojas",
    "Oviya", "Parth", "Prisha", "Pritika", "Piyush", "Rachit", "Radhika", "Rahul", "Raina", "Rhea", "Reyansh",
    "Riya", "Rudra", "Saanvi", "Sahil", "Samaira", "Samay", "Sanchi", "Sania", "Sanvi", "Saumya", "Shanaya",
    "Shlok", "Shreya", "Siya", "Smriti", "Sneha", "Suhani", "Swara", "Tanya", "Tanvi", "Tarun", "Trisha",
    "Utkarsh", "Vaishnavi", "Vansh", "Ved", "Vivaan", "Yash", "Yuvan", "Zara", "Zoya",
    "Aarav", "Aadhya", "Aadi", "Aadya", "Aahan", "Aaliyah", "Aaradhya", "Aarna", "Aarush", "Aarya",
    "Aashvi", "Aayush", "Abhinav", "Abhishek", "Aditi", "Advait", "Advika", "Agrim", "Ahana", "Aishani",
    "Aishwarya", "Akanksha", "Akash", "Akshay", "Alok", "Amaira", "Amaya", "Amisha", "Amit", "Amrita",
    "Anaya", "Anika", "Aniket", "Anisha", "Ansh", "Anshika", "Anvi", "Anya", "Aradhya", "Arjun", "Arnav",
    "Arohi", "Arush", "Arya", "Asher", "Ashika", "Ashish", "Atharva", "Avani", "Avika", "Avni", "Avya",
    "Ayush", "Bhavya", "Bhoomi", "Chahat", "Charvi", "Daksh", "Darsh", "Dev", "Dhruv", "Divya", "Eesha",
    "Eshan", "Eshika", "Gauri", "Gaurav", "Gayatri", "Hridya", "Ira", "Ishan", "Ishani", "Ishika", "Jiya",
    "Kavya", "Khushi", "Kiara", "Krish", "Kriti", "Lakshya", "Maanvi", "Madhav", "Mahek", "Manav", "Mannat",
    "Mehak", "Mira", "Mohit", "Muskaan", "Myra", "Navya", "Neev", "Neel", "Niharika", "Nishka", "Ojas",
    "Oviya", "Parth", "Prisha", "Pritika", "Piyush", "Rachit", "Radhika", "Rahul", "Raina", "Rhea", "Reyansh",
    "Riya", "Rudra", "Saanvi", "Sahil", "Samaira", "Samay", "Sanchi", "Sania", "Sanvi", "Saumya", "Shanaya",
    "Shlok", "Shreya", "Siya", "Smriti", "Sneha", "Suhani", "Swara", "Tanya", "Tanvi", "Tarun", "Trisha",
    "Utkarsh", "Vaishnavi", "Vansh", "Ved", "Vivaan", "Yash", "Yuvan", "Zara", "Zoya", "Aarav", "Aadhya", 
    "Aadi", "Aadya", "Aahan", "Aaliyah", "Aaradhya", "Aarna", "Aarush", "Aarya", "Aashvi", "Aayush", 
    "Abhinav", "Abhishek", "Aditi", "Advait", "Advika", "Agrim", "Ahana", "Aishani",
    "Aishwarya", "Akanksha", "Akash", "Akshay", "Alok", "Amaira", "Amaya", "Amisha"
]

In [4]:
import random

# Generate a list of 442 random 12-digit numbers
patient_aadhaar_number = [int(random.randint(10**11, 10**12 - 1)) for _ in range(442)]

# Print the list of numbers
patient_aadhaar_number

[977378201716,
 615544310520,
 949975127871,
 169552807657,
 364819236311,
 923533702526,
 511023343645,
 264490709878,
 450302371785,
 823732337869,
 881199602588,
 928369197259,
 656632967505,
 864397841595,
 437265599877,
 141765039028,
 240450143043,
 758737394745,
 590703433522,
 999626585826,
 713829105645,
 375253897397,
 518704443731,
 244102067882,
 172371781746,
 949778259778,
 992952132285,
 504705638662,
 649872111426,
 186934168042,
 641420178084,
 833613537694,
 930330703680,
 327876770993,
 790612450144,
 958845001538,
 978053742368,
 235563651806,
 187468465883,
 148947021765,
 236983177484,
 483561634497,
 689915695693,
 526098886549,
 751335517491,
 440634175691,
 415260891635,
 212609929202,
 566136777655,
 322409672625,
 487989657421,
 531602096033,
 883288350904,
 608220039860,
 156775094916,
 235590144377,
 818545807634,
 100193529935,
 592601412006,
 455858128921,
 562476427088,
 752387603146,
 606603849122,
 362803800361,
 898957282188,
 351487213637,
 897282795040,
 122942291062,
 395860270068,
 492475770534,
 234396084773,
 511324585489,
 507959722288,
 228344970848,
 964645960426,
 603325608985,
 442835920380,
 773283064932,
 656942644749,
 631733895521,
 972095320088,
 160979561460,
 200278862718,
 466095572632,
 863274753211,
 292483156388,
 716000207034,
 360859162732,
 447680429059,
 596812597660,
 874051088894,
 863299131093,
 177970393412,
 432681964128,
 557530296383,
 392613287253,
 942022535136,
 356141404246,
 339252794075,
 430889902158,
 232674548585,
 339650904516,
 277533601887,
 756376522807,
 547606198966,
 196482865438,
 454964457022,
 631133740631,
 661200569811,
 576429980268,
 225898194370,
 834034419276,
 312981595047,
 369257907387,
 315633265478,
 629678006938,
 404274639423,
 542900972988,
 940468536637,
 346112364803,
 527167705065,
 971601619610,
 480616151309,
 406041014461,
 497785135838,
 910846338064,
 214150435540,
 964705394081,
 415483050263,
 341140076996,
 604519770391,
 410755071452,
 167598302420,
 585609460983,
 850986846301,
 484557952195,
 943552774389,
 433013597644,
 305947878968,
 644061417863,
 706383987021,
 852342614870,
 209761099937,
 254406614763,
 530153494603,
 169429182559,
 774039438729,
 122094075214,
 228461908233,
 864766859673,
 885394711832,
 333297064408,
 114698029569,
 407889056658,
 819509642297,
 314868090936,
 429452496074,
 138882579736,
 513528610947,
 825309363780,
 996822034993,
 837600753689,
 209890699866,
 457429152387,
 141727922468,
 856812402069,
 448263656241,
 511924753113,
 205518414893,
 810362300751,
 563954987234,
 592531708886,
 337818511695,
 610488039663,
 748167578019,
 155249091612,
 201638062286,
 237126713525,
 561207557763,
 228387037777,
 378260494395,
 179135895117,
 561463994918,
 463340382370,
 944308072102,
 667282735572,
 596973923939,
 286712763377,
 347946159152,
 438426215169,
 834891390500,
 358464772301,
 726783289438,
 564619300281,
 955796154314,
 387317897346,
 478806324504,
 274602235643,
 997700276152,
 327885937733,
 914254742847,
 886280278416,
 777489583190,
 149837794665,
 725501731866,
 805058823969,
 104547699453,
 284498977151,
 246681417384,
 772953423563,
 808044958618,
 715917898609,
 797810922585,
 473786804026,
 214576609133,
 495305604293,
 121717926977,
 113246245788,
 890636002649,
 343489908618,
 237219351543,
 295952754809,
 845278421272,
 256596275472,
 858062644539,
 361013249533,
 918838059840,
 109399602507,
 861104976351,
 544912922885,
 672235991792,
 830231875905,
 462390082769,
 331321189431,
 807320513383,
 678709383874,
 561881731423,
 639444015329,
 264410030138,
 377775626210,
 222625508084,
 650155321723,
 234228563021,
 568323118079,
 555498168689,
 251277856376,
 148597594461,
 283688471816,
 815038955368,
 599963785690,
 118290336234,
 696204051405,
 940110926957,
 650260111808,
 707746922249,
 281347274121,
 861778514556,
 635890118431,
 306498305010,
 611845654275,
 497176740090,
 229025235215,
 982900070411,
 920357435443,
 531039443282,
 388214448618,
 441727250240,
 946202197787,
 570653590679,
 733525601143,
 447168209934,
 484164215691,
 194115282762,
 452219856663,
 396570371328,
 495662855251,
 304023753712,
 565743217238,
 735086085409,
 915514212845,
 115736210104,
 115607860613,
 100521489574,
 882231812848,
 870422596593,
 712736157157,
 237835958908,
 423923873793,
 455291439366,
 335976113739,
 116769003269,
 994321018584,
 151468854902,
 519124433030,
 907887754100,
 572984552614,
 730506384607,
 625469800911,
 237225339731,
 695947235465,
 364249351338,
 162350109508,
 351562599699,
 853767960747,
 478133371623,
 521240801294,
 836745354092,
 272959154521,
 937126340660,
 980105230849,
 708789920237,
 131333862313,
 242720849468,
 832230295199,
 241895617629,
 525076161575,
 932646670051,
 475835160731,
 901687237050,
 606077418950,
 374402906676,
 870832888224,
 344248997260,
 910064098784,
 875379764793,
 109480341933,
 326075826891,
 689339763995,
 944639824866,
 513953933461,
 725306702425,
 221251922796,
 163825978385,
 371753985419,
 761079902165,
 719411125112,
 421550985373,
 700015563595,
 485531013794,
 682264681661,
 663241634623,
 366892318758,
 108829905277,
 633165833629,
 561309899211,
 313759687151,
 207983844065,
 514009375221,
 671602409894,
 624198835236,
 849135523656,
 721105927207,
 397020548715,
 903574898526,
 217356380612,
 991633056396,
 909138167806,
 295376951968,
 468083071490,
 585927352351,
 702870844534,
 445297439878,
 815082931160,
 331552181013,
 924467093959,
 455846719632,
 927367547041,
 627265611648,
 892197404283,
 831600257984,
 580940585547,
 218232443590,
 532720925056,
 332393934572,
 829352928035,
 279052090272,
 421211677916,
 987453190370,
 836743342133,
 703993317514,
 160099230528,
 228411212688,
 957632372088,
 722474338011,
 111186969108,
 104137270254,
 715357555334,
 866177585356,
 858464068801,
 110807696419,
 557367282728,
 127046257082,
 651441145846,
 618372899144,
 521651492729,
 189386214451,
 813606594334,
 980348852467,
 821325890409,
 167525091190,
 355307833688,
 865680887294,
 559009070234,
 960717799453,
 556390239941,
 940524597523,
 826245336964,
 297348501492,
 644092519733,
 722908781687,
 247942471968,
 587530583511,
 538991736192,
 930409291141,
 501406684288,
 787720008985,
 340556416206,
 553045975904,
 625843307309,
 342555224243,
 425530733066,
 119159829500,
 925864838123,
 536883971050,
 764710986098,
 863959318101,
 369525007328,
 628379269734,
 744641605453,
 599182898772,
 336468245162,
 926683471142,
 581050528820,
 391800307016,
 843181494648,
 830080527558,
 544772758070,
 322113794600,
 702237758579,
 327897261713,
 739548533517,
 951554116079]

In [7]:
df['Name of Patient'] = patients
df['Patient Adhaar Number'] = patient_aadhaar_number
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Name of Patient,Patient Adhaar Number
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,Aarav,977378201716
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,Aadhya,615544310520
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,Aadi,949975127871
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,Aadya,169552807657
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,Aahan,364819236311
...,...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,Akshay,322113794600
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,Alok,702237758579
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,Amaira,327897261713
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,Amaya,739548533517
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,Amisha,951554116079

In [8]:
df.isnull()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Name of Patient,Patient Adhaar Number
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
437,False,False,False,False,False,False,False,False,False,False,False,False
438,False,False,False,False,False,False,False,False,False,False,False,False
439,False,False,False,False,False,False,False,False,False,False,False,False
440,False,False,False,False,False,False,False,False,False,False,False,False
441,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
df['age'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
437    False
438    False
439    False
440    False
441    False
Name: age, Length: 442, dtype: bool

In [ ]:
df.plot(x='age', y='bmi',kind='bar')

: